VITE_SAG_IMAGERY_URL_TEMPLATE=https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png
# Put private terrain tokens in your local .env file, not in source control.
# VITE_SAG_TERRAIN_RGB_URL_TEMPLATE=https://example.com/terrain-rgb/{z}/{x}/{y}.png?token=YOUR_

VITE_SAG_TERRAIN_RGB_URL_TEMPLATE=https://tiles1.geovisearth.com/base/v1/terrain-rgb/{z}/{x}/{y}?format=png&tmsIds=w&token=a1b140c94dba53eef3541ed85e72e2df16bfa63d8065f0d8a6e16604a035cbe0

